<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Награждения</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<a th:href="@{'/index'}" th:text="'<- На главную страницу'"/>
<div class="container">
    <form style="margin-bottom: 25px" th:action="@{/rewardings}" method="get" class="form-inline">
        <div style="margin-inline: auto" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-rewarding"></i></span>
            <label>ФИО: </label>
            <input th:value="${fullName != null} ? ${fullName}" type="text" name="fullName"
                   placeholder="ФИО" class="form-control"/>
        </div>

        <div style="margin-inline: auto" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-rewarding"></i></span>
            <label>Награда: </label>
            <input th:value="${title != null} ? ${title}" type="text" name="title"
                   placeholder="Название награды" class="form-control"/>
        </div>

        <div style="margin-inline: auto" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-rewarding"></i></span>
            <label>Дата награждения: </label>
            <input th:value="${rewardingDate != null} ? ${rewardingDate}" type="date" name="rewardingDate"
                   placeholder="Дата награждения" class="form-control"/>
        </div>

        <div style="margin-inline: auto" class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Отфильтровать</button>
            </div>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Пользователь</th>
            <th>Награда</th>
            <th>Дата награждения</th>
            <th colspan="2" style="text-align: center">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rewarding : ${rewardings}">
            <td th:text="${rewarding.getUser().firstName + ' ' + rewarding.getUser().lastName}"/>
            <td th:text="${rewarding.getReward().title}"/>
            <td th:text="${rewarding.getRewardingDate()}"/>
            <td>
                <a th:href="@{'/rewardings/edit/' + ${rewarding.getUser().id} + '_' + ${rewarding.getReward().title} +
                '_' + ${rewarding.getRewardingDate()}}" th:text="Изменить"/>
            </td>
            <td>
                <a th:href="@{'/rewardings/delete/' + ${rewarding.getUser().id} + '_' + ${rewarding.getReward().title} +
                 '_' + ${rewarding.getRewardingDate()}}" th:text="Удалить"/>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="${'Всего награждений: ' + rewardings.size()}"/>
    <br>
    <br>
    <a th:href="@{'/rewardings/edit'}" th:text="'Добавить награждение'"/>
</div>

</body>
</html>