<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Главная страница</h2>
<br>
<br>
<h3>Выберите нужный вам пункт:</h3>
<div class="h4">
    <ul>
        <li><a th:href="@{'/users'}" th:text="'К списку пользователей'"/></li>
        <li><a th:href="@{'/rewards'}" th:text="'К списку наград'"/></li>
    </ul>
</div>
</body>
</html>